.footer {
  height: 510px;
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 100px;
  border-bottom: 2px solid #646464;
}

.footercontainer {
  width: 1200px;
  height: 100%;
  /* background-color: tomato; */
}

.footer1 {
  width: 486px;
  height: 100%;
  float: left;
  /* background-color: #fce38a; */
}

.footer1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 40px;
  color: #cccccc;
}

.footer1 p {
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
}

#follow {
  color: black;
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
}

#follow b {
  font-size: large;
}

.footerhr {
  background-color: #e5e5e5;
  width: 100%;
  height: 3px;
  margin-top: 30px;
}

#followus {
  margin-top: 31px;
}

.footer1 ul li {
  display: inline-block;
  margin-left: 8px;
  font-size: large;
}

.footer1 ul {
  margin-left: 80px;
  margin-top: -17px;
  color: #95e1d3;
}

#emailbox {
  width: 230px;
  height: 40px;
  border: 1px solid #cccccc;
  margin-top: 50px;
}

.footer1 a {
  padding: 11px 25px;
  background-color: #95e1d3;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.footer2 {
  width: 350px;
  height: 100%;
  /* background-color: green; */
  float: left;
}

.footer2img {
  width: 150px;
  height: 100%;
  /* background-color: yellow; */
  float: left;
}

.footer2img h3 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
  margin-left: 10px;
}

.footer2img img {
  margin-left: 10px;
  margin-top: 35px;
}

.footer2txt h4 {
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
}

.footer2txt p {
  color: #ececec;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

#h4 {
  margin-top: 123px;
}

#h42 {
  margin-top: 34px;
}

#h43 {
  margin-top: 32px;
}

.footer3 {
  position: relative;
  width: 364px;
  height: 100%;
  /* background-color: yellowgreen; */
  float: left;
}

.instagrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  width: 340px;
  height: 340px;
  /* background-color: darkorchid; */
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.instaimg {
  position: relative;
  width: 112px;
  height: 111px;
  /* background-color: darkseagreen; */
}

.instaimg:hover .fovly {
  opacity: 1;
  cursor: pointer;
  height: 100%;
}

.instaimg img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fovly {
  position: absolute;
  height: 0;
  z-index: 3;
  opacity: 0;
  width: 100%;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(232, 131, 131, 0.7651260333234856) 32%,
    rgba(240, 216, 138, 1) 100%
  );
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.fovly i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fce38a;
}

.footer3 h3 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
  margin-left: 10px;
}

.footer3 a p {
  color: #646464;
  margin-left: 10px;
  margin-top: 387px;
  font-family: "Roboto", sans-serif;
}
